{{#if siteSettings.directoryopus_enabled}}
	<div class="directoryopus-link-status">
		<p>
			Link status goes here.

			{{#if opusCanLinkUser}}
				{{#if opusViewingSelf}}
					<span class="opus-nav-pills">{{#link-to 'linkopus'}}<img class="link-opus-button-icon" src="/plugins/discourse-directoryopus/images/opus_icon.png">{{i18n 'directoryopus.linkopus_user_button_you'}}{{/link-to}}</span>
				{{else}}
					<span class="opus-nav-pills">{{#link-to 'linkopus'}}<img class="link-opus-button-icon" src="/plugins/discourse-directoryopus/images/opus_icon.png">{{fa-icon "link"}}{{i18n 'directoryopus.linkopus_user_button_other'}}{{/link-to}}</span>
				{{/if}}
			{{/if}}
		</p>

		<p>
			directoryopus-link-status-profile.hbs:
			model.username: {{model.username}},
			currentUser.staff: {{currentUser.staff}},
			opusViewingSelf: {{opusViewingSelf}},
			opusCanLinkUser: {{opusCanLinkUser}}
		</p>
	</div>
{{/if}}
